<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <appSettings>

    <!-- Путь к файлу конфигурации логирования -->
    <add key="log4net.Config" value="AppLog.config" />

    <!-- Наблюдать за файлом конфигурации логирования -->
    <add key="log4net.Config.Watch" value="True" />

    <!-- Путь к каталогу установки версий приложений -->
    <add key="InstallDirectory" value="install" />

    <!-- Путь к каталогу загруженных из источника пакетов -->
    <add key="PackagesRepository" value="packages" />

    <!-- Позволяет скачивать предрелизный пакет NodeWorker -->
    <add key="NodeWorkerVersion" value="" />

    <!-- Версия .NETFramework для приложений. Возможные значения: 'net452' и 'net47'. -->
    <add key="NetFrameworkVersion" value="net452" />

    <!-- Список публичных источников пакетов (через ',' или ';') -->
    <add key="PackageSources" value="http://teamcity.infinnity.ru/guestAuth/app/nuget/v1/FeedService.svc/;" />

  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>