<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>

		<!-- Путь к файлу конфигурации логирования -->
		<add key="log4net.Config" value="Infinni.Node.Log.config"/>

		<!-- Наблюдать за файлом конфигурации логирования -->
		<add key="log4net.Config.Watch" value="True"/>

		<!-- Путь к каталогу установки версий приложений -->
		<add key="InstallDirectory" value="install"/>

		<!-- Путь к каталогу загруженных из источника пакетов -->
		<add key="LocalRepository" value="packages"/>

		<!-- Список публичных источников пакетов (через ',' или ';') -->
		<add key="SourceRepositories" value="https://www.nuget.org/api/v2/;"/>

		<!-- Таймаут в секундах при опросе состояния службы хостига приложения -->
		<add key="WorkerServiceHostPipeTimeout" value="5"/>

		<!-- Каталог службы хостига приложения для обмена через PIPE -->
		<add key="WorkerServiceHostPipeDirectory" value=""/>

	</appSettings>

</configuration>