<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>

		<!-- Путь к файлу конфигурации логирования -->
		<add key="log4net.Config" value="Infinni.NodeWorker.Log.config"/>

		<!-- Наблюдать за файлом конфигурации логирования -->
		<add key="log4net.Config.Watch" value="True"/>

		<!-- Наименование контракта службы хостинга приложения -->
		<add key="WorkerServiceHostContractName" value="Infinni.NodeWorker.ServiceHost.IWorkerServiceHost"/>

		<!-- Шаблон поиска контракта службы хостинга приложения -->
		<add key="WorkerServiceHostSearchPattern" value="Infinni*.dll"/>

		<!-- Каталог службы хостига приложения для обмена через PIPE -->
		<add key="WorkerServiceHostPipeDirectory" value=""/>

	</appSettings>

</configuration>